body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #5f4bb6;
    color: #fff;
    padding: 10px 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.icons {
    display: flex; /* Align icons horizontally */
    gap: 15px; /* Space between icons */
    justify-content: center; /* Center align icons */
    align-items: center; /* Align vertically */
}

.icons a {
    color: white; /* Default icon color */
    font-size: 24px; /* Icon size */
    text-decoration: none; /* Remove underline */
    transition: transform 0.3s, color 0.3s ease; /* Smooth animation */
}

.icons a:hover {
    color: #ff6347; /* Change color on hover */
    transform: scale(1.2); /* Slight zoom effect on hover */
}
.reservedText{
    text-align: center;
    font-weight: 600;
    font-size: medium;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.text{
    margin-left: 2rem;
    margin-top: 2.5rem;
}
#img1{
    width: 5.5rem;
    height: 5.5rem;
    border-radius: 50%;
}
.postText{
    display: inline-block;
    margin-left: 1rem;
}
/* .postName{
    
} */
.description{
    color: #5f5d5db2;
    font-family:sans-serif;
}
.logo {
    font-size: 24px;
    font-weight: bold;
}
li{
    cursor: pointer;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

.hero {
    background-color: #FFFFFF;
    /* color: #fff; */
    padding: 5px 20px;
    text-align: center;
    font-weight: bold;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.posts {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.post {
    background-color: #fff;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.post h2 {
    margin-top: 1rem;

}

.post a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
